* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: sans-serif;
}

input {
    height: 25px;
    border-radius: 5px;
    padding: 0 5px;
}

select {
    background-color: lightsalmon;
    height: 25px;
    padding: 0 5px;
    border-radius: 5px;
}

button {
    margin-left: 10px;
    background-color: lightsalmon;
    height: 25px;
    padding: 0 5px;
    border-radius: 5px;
}

button:hover {
    background-color: lightpink;
}

body {
    background-color: lightblue;
}

header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    height: 80vh;
}

.semana h3 {
    margin-bottom: 10px;
}

.semana {
    background-color: lightpink;
    border: 1px lightsalmon;
    width: 13%;
    padding: 5px;
    border-radius: 1rem;
}
